// <version.rc> -*- coding: cp932; mode: c++ -*-
//
// Project shiki-no-keisan-dll
// Copyright (C) 2024 neige68
//
/// \file
/// \brief バージョンリソース
//
// Compiler: VC14.2
//

#include <winres.h>

#include <boost/preprocessor/stringize.hpp>

#ifdef _WIN64
# define IND_PLATFORM "[x64]"
#else
# define IND_PLATFORM "[x86]"
#endif

#ifdef NDEBUG
# define IND_DEBUG ""
#else
# define IND_DEBUG "[debug]"
#endif

//------------------------------------------------------------
//
// バージョン情報
//
1 VERSIONINFO
    FILEVERSION     VER_PRODUCTVERSION
    PRODUCTVERSION  VER_PRODUCTVERSION
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_APP
#ifdef NDEBUG    
    FILEFLAGSMASK   0
    FILEFLAGS       0
#else
    FILEFLAGSMASK VS_FF_DEBUG | VS_FF_SPECIALBUILD
    FILEFLAGS VS_FFI_FILEFLAGSMASK
#endif
{
    BLOCK "StringFileInfo"
    {
        BLOCK "041103A4" // 日本語(0x411), CP932(0x3a4)
        {
            VALUE "CompanyName", "neige68"
            VALUE "FileDescription", "式計算(数式評価)DLL" IND_PLATFORM IND_DEBUG
            VALUE "FileVersion", BOOST_PP_STRINGIZE(PROJECT_VERSION)
            VALUE "InternalName", "neige68.ShikiNoKeisan.dll"
            VALUE "LegalCopyright", "(C) 2024 neige68"
            VALUE "OriginalFilename", "neige68.ShikiNoKeisan.dll"
            VALUE "ProductName", "shiki-no-keisan-dll"
            VALUE "ProductVersion", BOOST_PP_STRINGIZE(PROJECT_VERSION)
#ifdef NDEBUG
#else
            VALUE "SpecialBuild", "Debug Version"
#endif
            VALUE "SourceFiles", "https://github.com/neige68/shiki-no-keisan-dll"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0411, 0x03a4
    }
}

//------------------------------------------------------------
// end of <version.rc>
